<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="container">
        <h3>Курсовая работа по анализу датасета Crimes in Boston</h3>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('main') }}">На главную(к выбору файла)</a></li>
            <li><a href="{{ url_for('data') }}">Выбор методов</a></li>
              <li><a href="{{ url_for('user_task') }}">Решение пользовательской задачи кластеризации данных</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>